.container_notice {
    height: 20px;
}

.isfind_notice {
    color: rgb(18, 141, 18);
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Salara-Regular';
    font-size: 1.1rem;
}

.notfind_notice {
    color: rgb(255, 0, 0);
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Salara-Regular';
    font-size: 1.1rem;
}

.return_container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.return_btn {
    border: none;
    background: transparent;
    font-size: 1.1rem;
    font-family: 'Salara-Regular';
}

.return_btn:hover {
    background: transparent;
    text-decoration: underline;
    font-size: 1.1rem;
    font-family: 'Salara-Regular';
    cursor: pointer;
}

